{% extends "base.html" %}

{% block content %}
    <h2>Congratulations!</h2>

    <h4>Your Password was succesfully renewed</h4>

    <div class="ui info message">
    Now you can connect to any Unical's Eduroam Hotspot using your <span style="color: green;" >@guest.unical.it</span> credentials.
    </div>

    <p>
    If you want to see your connections logs or change your password by yourself go to Login Page.
    </p>
    <a href="/" class="ui blue button">Login page »</a>    
    
{% endblock %}
