{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
    <div class="column">
      <h2 class="ui header" style="color: #9B9C9E;">
          Dashboard GUEST.UNICAL.IT
      </h2>

      <div class="ui divider"></div>
      
      <div class="ui two column grid">
        <div class="five wide column">

            <h3>Menu</h3>
            <div class="ui sticky fixed top">
                <div class="ui vertical pointing menu ">
                      <a href="#content_sticker" class="item  active">
                        Connections
                      </a>
                        <div class="ui item dropdown icon" tabindex="0">
                          Change password
                          <i class="dropdown icon"></i>
                          <div class="menu hidden" tabindex="-1">
                            <div class="item">
                                <a href="#content_sticker" >account #</a>
                            </div>
                            <div class="item">
                                <a href="#content_sticker" >account #</a>
                            </div>
                            <div class="item">
                                <a href="#content_sticker" >account #</a>
                            </div>
                          </div>
                        </div>
<!--
                      <a class="item">
                        Settings
                      </a>
-->
                </div>
            </div>
        </div>
        
        <div id="content_sticker" class="eleven wide column">

          <h3>
              <i style="color: #9B9C9E;" class="table icon"></i>
              Connections</h3>
          
          <table class="ui unstackable single line table">
          <thead>
            <tr>
              <th>Account</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>No Name Specified</td>
              <td>Unknown</td>
              <td class="negative">None</td>
            </tr>
            <tr class="positive">
              <td>Jimmy</td>
              <td><i class="icon checkmark"></i> Approved</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Unknown</td>
              <td class="positive"><i class="icon close"></i> Requires call</td>
            </tr>
            <tr class="negative">
              <td>Jill</td>
              <td>Unknown</td>
              <td>None</td>
            </tr>
            <tr class="negative">
              <td>Jill</td>
              <td>Unknown</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Unknown</td>
              <td class="positive"><i class="icon close"></i> Requires call</td>
            </tr>
            <tr class="negative">
              <td>Jill</td>
              <td>Unknown</td>
              <td>None</td>
            </tr>
            <tr class="negative">
              <td>Jill</td>
              <td>Unknown</td>
              <td>None</td>
            </tr>
           <tr>
              <td>No Name Specified</td>
              <td>Unknown</td>
              <td class="negative">None</td>
            </tr>
            <tr class="positive">
              <td>Jimmy</td>
              <td><i class="icon checkmark"></i> Approved</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Unknown</td>
              <td class="positive"><i class="icon close"></i> Requires call</td>
            </tr>
            <tr class="negative">
              <td>Jill</td>
              <td>Unknown</td>
              <td>None</td>
            </tr>
            <tr class="negative">
              <td>Jill</td>
              <td>Unknown</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Unknown</td>
              <td class="positive"><i class="icon close"></i> Requires call</td>
            </tr>
          </tbody>
        </table>
        </div>

      </div>

    </div>
  </div>

    
{% endblock content %}

{% block bottom_extra_head %}
<script>
$('.ui.sticky')
  .sticky({
    context: '#content_sticker'
  })
;

$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop'
  })
;

</script>
{% endblock %}
