{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'js/datatables/datatables.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#post_auths').DataTable(
        {
            "aLengthMenu": [
            [25, 50, 100, 500, ], // -1],
            [25, 50, 100, 500, ] //"All"]
            ],
            "paging": true,
            "responsive": true,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'identity:datatable_data' %}",

            "order": [[ 0, "desc" ]],
            "columnDefs": [
            { "orderable": true, "targets": 0, visible: false, searchable: false, },
            // { "orderable": false, "targets": 1 },
            // { "orderable": false, "targets": 2 },
            // { "orderable": false, "targets": 3 },
            // { "orderable": false, "targets": 4 },
            ]
        }
    );
} );

</script>

<style>

#post_auths_wrapper {
        margin-left: 33px;
    }

#post_auths_wrapper_h3 {
        margin-left: 16px;
    }

</style>

{% endblock extra_head %}


{% block content %}
    <div class="row">
    <div class="column">
      <h2 class="ui header" style="color: #9B9C9E;">
          {% trans 'User Panel' %}
      </h2>

      <div class="ui divider"></div>

      <div class="ui two column grid">
        <div class="five wide column">

            <h3>Menu</h3>
            <div class="ui top">
                <div class="ui vertical pointing menu ">
                      {% if request.user.is_authenticated  %}
                      <a href="{% url 'identity:home' %}" class="item {% if post_auths %}active {% endif %} ">
                        {% trans 'Connections' %}
                      </a>
                      {% block menu_password %}
                        <div class="ui item dropdown icon" tabindex="0">
                          {% trans 'Change password' %}
                          <i class="dropdown icon"></i>
                          <div class="menu hidden" tabindex="-1">
                            {% for ac in accounts %}
                            <div class="item">
                                <a href="{% url 'identity:change_password' ac.pk %}" >{{ ac.username }}</a>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      {% endblock menu_password %}
                      {% if request.user.is_staff  %}
                      <a href="{% url 'admin:index' %}" class="teal item">
                        {% trans 'Admin backend' %}
                      </a>
                      {% endif %}
                      <a href="{% url 'identity:logout' %}" class="item">
                        {% trans 'Logout' %}
                      </a>
                      {% else %}
                      <a href="{% url 'identity:login' %}" class="item">
                        {% trans 'Back to Login Page' %}
                      </a>
                      {% endif %}
                </div>
            </div>
        </div>

        <div id="content_sticker" class="ten wide column">
          {% block content_sticker %}
          <h3 id="post_auths_wrapper_h3">
              <i style="color: #9B9C9E;" class="table icon"></i>
              {{ post_auths_count }} {% trans 'Connections in the last 12 months' %}
          </h3>

              <table id="post_auths" class="ui unstackable line table" style="">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Account</th>
                  <th>Status</th>
                  <th>Station</th>
                  <th>{% trans 'Date' %}</th>
                </tr>
              </thead>
              <tbody>
                {% comment %}
                disabilitato, adesso va in ajax
                {% for pa in post_auths %}
                    {% ifequal pa.reply "Access-Accept"  %}
                    <tr class="positive">
                    {% else %}
                    <tr class="negative">
                    {% endifequal %}
                      <td>{{ pa.pk }}</td>
                      <td>{{ pa.username }}</td>
                      <td>{{ pa.reply|cut:"Access-" }}</td>
                      <td>{{ pa.calling_station_id|default_if_none:"--" }}</td>
                      <td>{{ pa.date|date:'d M Y, P' }}</td>
                    </tr>
                {% endfor %}
                {% endcomment  %}
              </tbody>
              </table>
        {% endblock content_sticker %}
        </div>

      </div>

    </div>
  </div>


{% endblock content %}

{% block bottom_extra_head %}
<script type="text/javascript">
//$( document ).ready(function() {

    $('.ui.sticky')
      .sticky({
        context: '#content_sticker'
      })
    ;

    $('.dropdown')
      .dropdown({
        // you can use any ui transition
        transition: 'drop'
      })
    ;
// )}
</script>
{% endblock %}
