{% load static %}
<div class="row clearfix" style="margin-top:2px;">
        <br>
        <br>
        <table style="padding:0px; margin:0px;  margin-left:15px; margin-right:15px;">
            <tbody><tr>
                <td style="width:900px; vertical-align:top;">
                    <h3>
                    	<a href="http://www.unical.it/portale/">
							<img src="{% static 'icons/logo_unical.png' %}" width="312" title="Logo Unical" alt="Logo Unical" style="margin-left:15px;">
                        </a>
					</h3>
                </td>
                <td style="" class="colonna_hp_destra">
                	<br><br><br>
                	<table style="width: 100%; text-align: right;">
                    	<tbody><tr>
                        	<td style="padding-left: 20px;">
                                <a href="http://www.unical.it/portale/campus/dovesiamo/" class="" title="come raggiungerci">
                                    <img src="{% static 'icons/ico-header-01.png' %}" alt="come raggiungerci" title="come raggiungerci" width="50">
                                </a>
                            </td>
                            <td style="padding-left: 20px;">
                                <a href="http://www.unical.it/portale/ateneo/mappe/" class="" target="new" title="Mappe">
                                    <img src="{% static 'icons/ico-header-02.png' %}" alt="Mappe" title="Mappe" width="50">
                                </a>
                            </td>
                            <td style="padding-left: 20px;">
                                <a href="http://rassegna.unical.it/" class="" target="new" title="Rassegna Stampa">
                                    <img src="{% static 'icons/ico-header-03.png' %}" alt="Rassegna Stampa" title="Rassegna Stampa" width="50">
                                </a>
                            </td>
                            <td style="padding-left: 20px;">
                                <a href="http://www.unical.it/portale/portaltemplates/view/search_phone.cfm" class="" title="Contatti">
                                    <img src="{% static 'icons/ico-header-04.png' %}" alt="Contatti" title="Contatti" width="50">
                                </a>
                            </td>
                            
                    </tr>
                </tbody></table>

                </td>
            </tr>
        </tbody>
        </table>
    </div>
